.main {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
}

.label {
  pointer-events: none;
}

.square {
  position: absolute;
  pointer-events: none;
  z-index: 3;
  box-sizing: border-box;
  border: 1px solid silver;
}
