.main {
  position: absolute;
  z-index: 5;
  width: 1000px;
  margin-left: -500px;
  text-align: center;
  pointer-events: none;

  &.top {
    z-index: 25;
  }
}

.square {
  position: absolute;
  pointer-events: none;
  z-index: 3;
  box-sizing: border-box;
  opacity: 0.25;

  &.top {
    z-index: 23;
  }
}
