.warning {
  font-size: 0.8em;
  font-weight: bold;
  color: red;

  &::before {
    content: "WARNING: ";
  }
}

.description {
  font-size: 0.8em;
  max-height: 100px;
  overflow-y: auto;

  p {
    margin: 0.5em 0;
  }
}

.namePanel {
  display: flex;

  .name {
    flex-grow: 1;
  }
  .time {
    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }

    flex-grow: 0;
    font-size: 0.9em;
  }
}
