.main {
  display: inline-flex;
  align-items: center;

  &.spaceBefore {
    margin-left: 4px;
  }

  &.spaceAfter {
    margin-right: 4px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
