.damageList {
  display: inline;

  span + span::before {
    content: ", ";
  }
}

.healList {
  display: inline;

  span + span::before {
    content: " + ";
  }
}

.panel {
  border: 2px solid black;
  background-color: white;
  box-shadow: silver 0px 0px 4px 4px;
  padding: 2px;
}
