.main {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  border: 2px solid black;
  background-color: white;
  box-shadow: silver 0px 0px 4px 4px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 9;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.message {
  display: flex;
  align-items: center;
  padding: 2px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.iconLabel {
  margin-right: 4px;
}
