.main {
  position: absolute;
  display: flex;
  z-index: 200;
  margin: 0;
  padding: 4px;
  border: 2px solid black;
  background-color: white;
  box-shadow: silver 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
}
