.main {
  display: inline-grid;
  grid-template-columns: 20px auto 20px;
  grid-template-areas: "min slider max" "value value value";
}

.min {
  grid-area: min;
}
.slider {
  grid-area: slider;
}
.max {
  grid-area: max;
}
.value {
  grid-area: value;
}

.min,
.max,
.value {
  text-align: center;
}
