.container {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  border: 2px solid black;
  background-color: white;
  box-shadow: silver 0px 0px 4px 4px;
  height: 100px;
  overflow-y: scroll;
  z-index: 29;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.messageWrapper {
  display: flex;
  list-style: none;
}

.message {
  flex: 1 1;
  display: flex;
  align-items: center;
  padding: 2px;
}

.info {
  flex: 0 0 20px;
  text-align: center;
  background: beige;
  cursor: help;
}
