:root {
  --movebtn-size: 30px;
}

.main {
  position: absolute;
  padding: 0;
  cursor: pointer;
  background: #ccc;
  z-index: 22;
  opacity: 0.75;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:hover {
    background: #eee;
  }
}

.moveE {
  right: 0;
  top: 50%;
  margin-top: calc(var(--movebtn-size) / -2);
}
.moveSE {
  right: 0;
  bottom: 0;
}
.moveS {
  bottom: 0;
  left: 50%;
  margin-left: calc(var(--movebtn-size) / -2);
}
.moveSW {
  left: 0;
  bottom: 0;
}
.moveW {
  left: 0;
  top: 50%;
  margin-top: calc(var(--movebtn-size) / -2);
}
.moveNW {
  left: 0;
  top: 0;
}
.moveN {
  top: 0;
  left: 50%;
  margin-left: calc(var(--movebtn-size) / -2);
}
.moveNE {
  right: 0;
  top: 0;
}
