/* esbuild-sass-plugin:css-chunk:src/ui/ActiveUnitPanel.module.scss */
._main_spvfs_1 {
  border: 2px solid black;
  background-color: white;
  box-shadow: silver 0px 0px 4px 4px;
  padding: 2px;
}

/* esbuild-sass-plugin:css-chunk:src/ui/IconButton.module.scss */
._main_1x2nt_1 {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}
._image_1x2nt_8,
._sub_1x2nt_9 {
  position: absolute;
  bottom: 0;
  background-position: center;
  background-size: contain;
}
._image_1x2nt_8 {
  left: 0;
}
._sub_1x2nt_9 {
  right: 0;
}

/* esbuild-sass-plugin:css-chunk:src/ui/Labelled.module.scss */
._label_1t2tr_1 {
  font-size: 0.8em;
  font-variant: small-caps;
}

/* esbuild-sass-plugin:css-chunk:src/ui/App.module.scss */
:root {
  --scale: 100px;
}
._sidePanel_187go_5 {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40vw;
  max-width: 400px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* esbuild-sass-plugin:css-chunk:src/ui/Battlefield.module.scss */
._main_ww5d6_1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* esbuild-sass-plugin:css-chunk:src/ui/BattlefieldEffect.module.scss */
._main_1f9zd_1 {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
}
._label_1f9zd_10 {
  pointer-events: none;
}
._square_1f9zd_14 {
  position: absolute;
  pointer-events: none;
  z-index: 3;
  box-sizing: border-box;
  border: 1px solid silver;
}

/* esbuild-sass-plugin:css-chunk:src/ui/Unit.module.scss */
._main_1m7p6_1 {
  position: absolute;
  cursor: pointer;
  border-radius: 1000px;
  z-index: 20;
}
._main_1m7p6_1:hover {
  box-shadow: silver 0px 0px 4px 4px;
}
._token_1m7p6_11 {
  position: absolute;
  left: 0;
  top: 0;
}

/* esbuild-sass-plugin:css-chunk:src/ui/UnitMoveButton.module.scss */
:root {
  --movebtn-size: 30px;
}
._main_1goup_5 {
  position: absolute;
  width: var(--movebtn-size);
  height: var(--movebtn-size);
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  background: #ccc;
  z-index: 21;
  display: flex;
  justify-content: center;
}
._main_1goup_5:hover {
  background: #eee;
}
._moveN_1goup_22 {
  top: 0;
  left: 50%;
  margin-left: calc(var(--movebtn-size) / -2);
}
._moveE_1goup_28 {
  right: 0;
  top: 50%;
  margin-top: calc(var(--movebtn-size) / -2);
}
._moveS_1goup_34 {
  bottom: 0;
  left: 50%;
  margin-left: calc(var(--movebtn-size) / -2);
}
._moveW_1goup_40 {
  left: 0;
  top: 50%;
  margin-top: calc(var(--movebtn-size) / -2);
}

/* esbuild-sass-plugin:css-chunk:src/ui/button.module.scss */
._active_nvx7c_1 {
  background-color: yellow;
}

/* esbuild-sass-plugin:css-chunk:src/ui/ChooseActionConfigPanel.module.scss */
._main_1djvn_1 {
  border: 2px solid black;
  background-color: white;
  box-shadow: silver 0px 0px 4px 4px;
  padding: 2px;
}
._warning_1djvn_8 {
  font-size: 0.8em;
  font-weight: bold;
  color: red;
}
._warning_1djvn_8::before {
  content: "WARNING: ";
}

/* esbuild-sass-plugin:css-chunk:src/ui/CombatantRef.module.scss */
._main_nef8w_1 {
  display: inline-flex;
  align-items: center;
}
._icon_nef8w_6 {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
._iconLabel_nef8w_12 {
  margin-right: 4px;
}

/* esbuild-sass-plugin:css-chunk:src/ui/common.module.scss */
._damageList_yh7tq_1 {
  display: inline;
}
._damageList_yh7tq_1 span + span::before {
  content: ", ";
}

/* esbuild-sass-plugin:css-chunk:src/ui/EventLog.module.scss */
._container_10k6i_1 {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  border: 2px solid black;
  background-color: white;
  box-shadow: silver 0px 0px 4px 4px;
  height: 100px;
  overflow-y: scroll;
  z-index: 9;
}
._main_10k6i_14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
._messageWrapper_10k6i_22 {
  list-style: none;
}
._message_10k6i_22 {
  display: flex;
  align-items: center;
  padding: 2px;
}

/* esbuild-sass-plugin:css-chunk:src/ui/Dialog.module.scss */
._main_1t1hm_1 {
  z-index: 100;
}
._shade_1t1hm_5 {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
._react_1t1hm_18 {
  background-color: white;
  padding: 1em;
  border: 2px solid black;
}
._title_1t1hm_24 {
  font-size: 1.2em;
}

/* esbuild-sass-plugin:css-chunk:src/ui/Menu.module.scss */
._main_g21m6_1 {
  position: absolute;
  display: flex;
  z-index: 200;
  margin: 0;
  padding: 4px;
  border: 2px solid black;
  background-color: white;
  box-shadow: silver 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
}
._sub_g21m6_14 {
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=bundle.css.map */
